* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: "PulpFiction";
  src: url("./fonts/Aachen\ Bold.ttf");
}

body {
  background-color: gray;
}

.container {
  margin: 0 auto;
  max-width: 1000px;
  padding: 5px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}
header {
  color: black;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10px;
}

h1 {
  /* 1 pixel black shadow to left, top, right and bottom */
  text-shadow: -1.5px 0 black, 0 1.5px black, 1.5px 0 black, 0 -1.5px black;
  letter-spacing: 2px;
  font-family: "PulpFiction";
  color: goldenrod;
  font-size: 3rem;
}

#game-board {
  display: grid;
  grid-template: repeat(4, 200px) / repeat(4, 200px);
  gap: 10px;
  justify-content: center;
  align-content: center;
}

.card {
  box-shadow: 0 3px 10px rgba(200, 200, 200, 0.9);
  border-radius: 10px;
  height: 170px;
  width: 100px;
  position: relative;
  overflow: hidden;
  background-color: black;
  transform-style: preserve-3d;
  cursor: pointer;
}

img {
  width: 100px;
  height: auto;
}

.back {
  align-self: center;
  font-family: "PulpFiction";
  color: goldenrod;
  font-size: 11px;
  text-align: center;
}
h2 {
  position: absolute;
  bottom: 5px;
  padding: 2px;
  text-shadow: -1.5px 0 black, 0 1.5px black, 1.5px 0 black, 0 -1.5px black;
}

.front .back {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  justify-content: center;
  backface-visibility: hidden;
  transition: transform 0.5s;
}
.front {
  background-image: url("./pics/pulp_fiction_card.jpg");
  background-position: center;
}
.rotated {
  transform: rotateY(180deg);
}
