@font-face {
  font-family: "PulpFiction";
  src: url("./fonts/Aachen\ Bold.ttf");
}

body {
  background-image: url("./pics/background.jpg");
  opacity: 0.9;
}

img {
  margin: 2px;
  width: 100%;
  height: auto;
}

h2 {
  color: goldenrod;
  margin: auto 0;
}
.container {
  font-family: "PulpFiction";
  letter-spacing: 0.3125rem;
  margin: 0 auto;
  max-width: 50rem;
  padding: 1.25rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  color: goldenrod;
}

#game {
  display: grid;
  grid-template: repeat(3, 16.5rem) / repeat(6, 10rem);
  gap: 0.625rem;
}

.card {
  box-shadow: 0 0.1875rem 0.625rem rgba(200, 200, 200, 0.9);
  border-radius: 0.625rem;
  position: relative;
  overflow: hidden;
  transform-style: preserve-3d;
  background-color: black;
}

.front,
.back {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;

  position: absolute;
  backface-visibility: hidden;
  transition: transform 0.5s;
}

.front {
  background-image: url("./pics/pulp_fiction_card.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.rotated {
  transform: rotateY(180deg);
}
